@model IEnumerable<JobPosting>
@using DevSpot.Constants;

<h1>JobPosting</h1>

<div class="list-group">
    @foreach(var jobposting in Model )
    {
        <div class="list-group-item" id="job-posting-@jobposting.Id">
            <h3>@jobposting.Title</h3>
            <p>@jobposting.Description</p>
            <p><strong>Company: @jobposting.Company</strong></p>
            <p><strong>Location: @jobposting.Location</strong></p>
            <p><strong>Posted_Date: @jobposting.Posted_date.ToShortDateString()</strong></p>

            @if (User.IsInRole(Roles.ADMIN) || User.IsInRole(Roles.EMPLOYER))
            {
                <div>
                    <button onclick="deleteJoposting(@jobposting.Id)" class="btn btn-sm btn-danger">Delete</button>
                </div>
            }

        </div>
    }
</div>

@section Scripts
{
    <script>
        function deleteJoposting(id)
        {
            if (confirm("Do you really want to delete this jobposting item? " + id)) {
                // stuff needed to send the HTTP request to the jobposting controller
                //url
                //type(delete)
                //sccuess -> visually show jobposting removed
                //fail -> show error msg otherwise

                $.ajax({
                    url:"@Url.Action(action:"Delete", controller:"JobPostings")/" + id,
                    type: "delete",
                    success: function(result){
                        $("#job-posting-" + id).remove();    
                    },
                    error:function(err){
                        alert("An error ocurred " + err.responseText);
                    }
                })
                
            }
        }
    </script>
}